demo:
  target: prod
  outputs:
    prod:
      type: bigquery
      method: oauth
      project: "{{ env_var('GCP_PROJECT_ID') }}"
      dataset: demo_dwh
      location: europe-west1
      threads: 4
      timeout_seconds: 300
    dev:
      type: bigquery
      method: oauth
      project: "{{ env_var('GCP_PROJECT_ID') }}"
      dataset: demo_dwh_dev
      location: europe-west1
      threads: 2
      timeout_seconds: 300
